#SV-screen{

    width: 99%;
    height: 800px;

}
.SV-body{
    width: 91%;
    height: 100%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.SV-body-left{
    width: 60%;
    height: 480px;
    
    text-align: left;
}
.SV-main-vid{
    width: 100%;
    height: 360px;
    margin-top: 10%;
    border-radius: 10px;
}
.SV-main-vid > iframe{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.SV-title{
    font-size: 19px;
    /* border: 1px solid blue; */
    margin-top: 10px;
    width: 94%;
    line-height: 27px;
    font-weight: 500;
    margin-bottom: 10px;
} 
.SV-left-lastdiv{
   
    width: 100%;
    height: 45px;
    display: flex;
}
.SV-owner-photo{
    
    border-radius: 50%;
    height: 90%;
    width: 40px;
}
.SV-owner-photo > img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.SV-owner-name{
    height: 85%;
    width: 45px;
    /* border: 1px solid red; */
    margin-top: 5px;
    
    margin-left: 10px;


}
.SV-owner-name > div{
    margin-top: 0;
    margin-bottom: 0%;
    font-size: 16px;
    font-weight: 500;
    display: flex;

 
}
.SV-owner-name > div{
    font-size: 12px;
    color: grey;
   
  
}
.SV-subs-button{
    margin-left: 65px;
    border-radius: 20px;
    font-size: 16px;
    height: 40px;
    font-weight: 400;
    width: 180px;
    border: none;
   
}
.SV-body-right{
    width: 38%;
    height: 100%;
    margin-top: 6%;

}

.fit{
    width: fit-content;
}